.gallery {
    //position: relative;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    // background: url('../img/P5122809.JPG') no-repeat center center;
    //@include background-cover;
    iframe {position:absolute;top:0;left:0;width:100%;height:100%;}
  }
